body {
  background-color: #90a955;
}
h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  margin: 0 0 0 0;
}
  div {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo{
  font-size: 250px;
  margin: 1.8;
  vertical-align: middle;
  text-align: center;
  filter: blur(10px);
  transition: 0.15s;
}
.logo:hover{
  filter: none;
  animation: vertical-shaking 0.15s infinite;

}
.random_window{
  width: 550px;
  height: 300px;
  background-color: #ecf39e;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  filter: blur(10px);
  opacity: 0.7;
  transition: 0.01s;
}
.random_window:hover{

  filter: none;
  opacity: 1;
  animation:tilt-shaking 0.01s infinite;
}
button{  background-color: #ecf39e;
  border: none;
  width: 550px;
  height: 300px;
}
@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(5px) }
  50% { transform: translateY(5px) }
  75% { transform: translateY(5px) }
  100% { transform: translateY(0) }
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
.meow{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 230px;
    margin-left: -110px;
    margin-top: -27px;
    transform: scale(0.7, 1.7);
  }